body {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: rgb(221, 184, 160);
}

#wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    /* align things left to right (add as much space as we can */
    justify-content: space-between;
    /* align things vertically */
    align-items: center;
}

header ul {
    list-style-type: none;
    display: inline;
    padding-left: 0;
    padding-right: 1em;
}

header li {
    display: inline;
}

header a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 30px;
    color: #fff;
    background-color: #520;

    /* background image rules */
    background-image: url("images/hero@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
}

div.hero h1 {
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-size: 95px;
    font-style: normal;
    margin-bottom: 10px;
    line-height: 85px;
    margin-top: 0;
}

div.hero p {
    font-family: "Medula One", system-ui;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 20px;
}

img {
    vertical-align: bottom;
    padding: 20px;
}

main {
    /* top right bottom left px count */
    padding: 0 10px 0 10px;
}

footer {
    background-color: #e9d8c8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social-media-container img {
    padding: 10px;
}

footer p {
    font-size: 15px;
    margin: 0;
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #823f0c;
        color: white;
    }

    header a {
        color: white;
    }

    img {
        filter: invert(1);
    }

    body footer {
        background-color: black;
    }
}